@model IEnumerable<Projekt_Rower_Miejski.Pracownicy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <h2>Lista pracowników</h2>
    @Html.ActionLink("Dodaj nowego pracowenika", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Pesel
        </th>
        <th>
            Data zatrudnienia
        </th>
        <th>
            Funkcja pracownika
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pesel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_zatrudnienia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funkcje_Pracownikow.Nazwa_funkcji)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ID_pracownika }) |
            @Html.ActionLink("Informacje", "Details", new { id=item.ID_pracownika }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.ID_pracownika })
        </td>
    </tr>
}

</table>
