@model Projekt_Rower_Miejski.Wypozyczenia

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Czy na pewno chcesz usunąć klienta?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data i czas wypożyczenia:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_czas_wypozyczenia)
        </dd>

        <dt>
            Data i czas oddania:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_czas_oddania)
        </dd>

        <dt>
            Czas wypożyczenia:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Czas_wypozyczenia)
        </dd>

        <dt>
            Czas wypożyczenia za godzinę:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cena_wypozyczenia_za_godzine)
        </dd>

        <dt>
            Klient:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klienci.Imie)
        </dd>

        <dt>
            Pracownik:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pracownicy.Imie)
        </dd>

        <dt>
            Rower:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rowery.Nr_ramy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy", "Index")
        </div>
    }
</div>
