@model IEnumerable<Projekt_Rower_Miejski.Wypozyczenia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <h2>Lista Wypożyczeń</h2>
    @Html.ActionLink("Dodaj nowe wypożyczenie", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Data czas wypożyczenia
        </th>
        <th>
            Data czas oddania
        </th>
        <th>
            Czas wypożyczenia
        </th>
        <th>
            Czas wypożyczenia za godzinę
        </th>
        <th>
            Klient
        </th>
        <th>
            Pracownik
        </th>
        <th>
            Rower
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data_czas_wypozyczenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_czas_oddania)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Czas_wypozyczenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cena_wypozyczenia_za_godzine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Klienci.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pracownicy.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rowery.Nr_ramy)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ID_wypozyczenia }) |
            @Html.ActionLink("Informacje", "Details", new { id=item.ID_wypozyczenia }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.ID_wypozyczenia })
        </td>
    </tr>
}

</table>
