@model IEnumerable<Projekt_Rower_Miejski.Funkcje_Pracownikow>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <h2>Lista funkcji pracowników</h2>
    @Html.ActionLink("Dodaj nową funkcję pracownika", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nazwa funkcji
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwa_funkcji)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ID_funkcji }) |
            @Html.ActionLink("Informacje", "Details", new { id=item.ID_funkcji }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.ID_funkcji })
        </td>
    </tr>
}

</table>
