@model IEnumerable<Projekt_Rower_Miejski.Serwis_roweru>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <h2>Lista serwisowanych rowerów</h2>
    @Html.ActionLink("Dodaj rower do serwisu", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Opis usterki
        </th>
        <th>
            Kwota naprawy
        </th>
        <th>
            Data naprawy
        </th>
        <th>
            Pracownik
        </th>
        <th>
            Rower
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Opis_usterki)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kwota_naprawy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_naprawy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pracownicy.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rowery.Nr_ramy)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ID_serwisu }) |
            @Html.ActionLink("Informacje", "Details", new { id=item.ID_serwisu }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.ID_serwisu })
        </td>
    </tr>
}

</table>
