@model IEnumerable<Projekt_Rower_Miejski.Rowery>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <h2>Lista rowerów</h2>
    @Html.ActionLink("Dodaj nowy rower", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nr ramy
        </th>
        <th>
            Data wprowadzenia roweru
        </th>
        <th>
            Stan roweru
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nr_ramy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_wprowadzenia_roweru_do_uzytku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stan_roweru.Nazwa_stanu)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ID_roweru }) |
            @Html.ActionLink("Informacje", "Details", new { id=item.ID_roweru }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.ID_roweru })
        </td>
    </tr>
}

</table>
